certifi==2024.6.2
charset-normalizer==3.3.2
ibm-cloud-sdk-core==3.20.1
ibmcloudant==0.8.2
idna==3.7
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.2
six==1.16.0
urllib3==2.2.2
